* {
  margin: 0 auto;
/*  text-align: center; */
  font-family: "Open Sanf", Sans-Serif;
}
body {
  background: #F8F8FD;
}

h1, h2, h3, h4, h5, sup {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
i {
  color: #5846f9;
}
hr {
  border: none;
  border-bottom: 1px solid #5846f9;
}

/* Inputs Style */
input {
  border: 1px solid silver;
  border-radius: 5px;
  padding: 10px 15px;
}
input:focus {
  border-color: #5846f9;
  transition: all 0.3s ease-in-out 0.1s;
  outline: none;
}


/* Header Section Style */
#header {
  width: 100%;
  margin: 30px 0;
  text-align: center;
}
#header .Underline {
  width: 100px;
  padding-bottom: 5px;
  border-bottom: 3px solid rgb(114,20,219);
}

/* SignUpForm Section Style */
#SignUpFrom {
  width: 75%;
  padding: 30px 0;
  background: #FFF;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
}

.FullForm {
  width: 100%;
  color: #000;
}
.FullForm .Logo {
  text-align: center;
}
.FullForm .Logo small {
  font-weight: 500;
}
.FullForm form .Head {
  display: flex;
  width: 80%;
}
.FullForm form .Head .left {
  width: 50%;
  float: left;
}
.FullForm form .Head .right {
  width: 50%;
  float: right;
}
.FullForm form .Head .right input, .FullForm form .Head .left input {
  width: calc(90% - 32px);
}
.FullForm form .Head .right sup {
  margin-left: 35px;
}
.FullForm form .Head .right input {
  float: right;
}
.FullForm form .Solo {
  display: block;
  width: 80%;
}
.FullForm form .Solo input {
  width: calc(100% - 32px);
}
input[type="date"], input[type="datetime-local"] {
  background: #F8F8FD;
}
input[type="date"]:before, input[type="datetime-local"]:before {
  color: #000;
  font-weight: 600;
  content: attr(placeholder) !important;
}
select {
  width: 100%;
  outline: none;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 5px;
  background: #F8F8FD;
  border-color: #5846f9;
}
input[type="file"] {
  display: none;
}
input[type="file"] + label {
  background: #F8F8FD;
  padding: 10px 15px;
  border: 1px solid silver;
  border-radius: 5px;
  font-weight: 500;
}
input[type="file"]:focus + label,
input[type="file"] + label:hover {
  background: #5846f9;
  border-color: #5846f9;
  transition: all 0.3s ease-in-out 0s;
  color: #FFF;
}

.Rules i {
  color: #000;
}
.Rules i i {
  color: #5846f9;
}
.Rules sup {
  font-weight: 500;
}
.Rules strong {
  font-weight: 600;
}
.Rules a {
  text-decoration: none;
  color: #5846f9;
}

.Captcha .Box {
  border: 1px solid #000;
  border-radius: 5px;
  width: 250px;
  height: 81px;
}
.Captcha .Box .BoxZwimale {
  border: 2px solid #000;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  float: left;
  margin-top: 24px;
  margin-left: 24px;
}
.Captcha .Box sup {
  position: absolute;
  margin-top: 33px;
  margin-left: 20px;
}
.Captcha .Box sup:before {
  content: attr(placeholder) !important;
}

.Captcha .Box button {
  background: #F8F8FD;
}
.Captcha .Box button:hover {
  background: #5846f9;
  border-color: #5846f9;
  outline: none;
  transition: all 0.3s ease-in-out 0s;
}
.SubmitBtn {
  text-align: center;
}
.SubmitBtn button {
  padding: 10px 15px;
  background: #F8F8FD;
  border: 1px solid silver;
  border-radius: 5px;
  font-weight: 600;
}
.SubmitBtn button:hover {
  outline: none;
  background: #5846f9;
  border-color: #5846f9;
  transition: all 0.3s ease-in-out 0s;
  color: #FFF;
}

/* Footer Section Style */
#Copyrights {
  width: 100%;
  margin: 40px 0px;
  text-align: center;
  font-weight: 500;
}
#Copyrights span {
  font-weight: 600;
}
#Copyrights a {
  text-decoration-color: #5846f9;
  color: #000;
}

/* Mobile Phones */
@media screen and (max-width: 768px) {
  #SignUpFrom {
    width: 90%;
  }
  .FullForm form .Head {
    flex-direction: column;
  }
  .FullForm form .Head .left {
    float: left;
    width: 100%;
  }
  .FullForm form .Head .left input {
    width: calc(100% - 32px);
  }
  .FullForm form .Head .right sup {
    margin-left: 0;
  }
  .FullForm form .Head .right {
    float: left;
    width: 100%;
  }
  .FullForm form .Head .right input {
    width: calc(100% - 32px);
  }
}